include ChangeLog.txt
include README.md
include LICENSE.txt
include CONTRIBUTORS.txt
include backtrackbb/configspec.conf
include backtrackbb/RELEASE-VERSION
include backtrackbb/lib/__init__.py
include backtrackbb/c_libs/map_project/*.h
include backtrackbb/c_libs/rosenberger/*.h
